body {
    background-color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#aboutme{
    text-align: center;
    width: 500px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#navBar{
    display: flex;
    flex-wrap: flex;
    justify-content: space-around;
}


main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }

section{
    background-color: gray;
    width: 400px;
    border: 5px solid blue;
    padding: 5px;
    margin: 50px;
}

#section{

}

h3, p{
    display: flex;
    flex-wrap: wrap;
}

#calculator{
    width: 900px;
    height: 500px;
    border: 5px solid blue;
    padding: 5px;
    margin: 50px;
}

div{
    display: flex;
    flex-wrap: wrap;
}